#om-oss {
  background: $main-blue-opacity;
}

#about-portraits {
  min-height: 40vh;
  width: 80%;
  margin: auto;
  @include flex(row, stretch, flex-start);
  flex-wrap: wrap;
  padding: 3rem 0;
}

.portrait-container {
  flex: 1 1 40rem;
  margin: 3rem 0;
  @include flex(row, stretch, space-around);
}

.portrait {
  text-align: center;
  color: white;

  h3 {
    margin-top: 1rem;
  }
}

.portrait-image-container {
  width: 56%;
  margin: auto;

  img {
    width: 100%;
    border-radius: 50%;
  }
}
